body {
    font-family: Arial, sans-serif;
}

header {
    background-color: #007bff;
}

footer {
    background-color: #343a40;
}

#results ul {
    list-style-type: none;
}

#results li {
    font-size: 18px;
}

    /* Стили для списка результатов */
    #results ul {
        padding-left: 0;
        list-style-type: none;
    }

    #results li {
        margin-bottom: 10px;
    }

    /* Мобильная адаптивность */
    @media (max-width: 576px) {
        #results h3 {
            font-size: 1.25rem;  /* Уменьшаем размер заголовка на мобильных устройствах */
        }
        
        #results li {
            font-size: 0.9rem;  /* Уменьшаем размер текста для мобильных устройств */
        }

        .container {
            
            padding: 15px;  /* Обеспечиваем отступы по краям */
        }
    }

    /* Для экранов средней ширины */
    @media (min-width: 576px) and (max-width: 768px) {
        #results h3 {
            font-size: 1.5rem;
        }

        #results li {
            font-size: 1rem;
        }
    }

    /* Для больших экранов */
    @media (min-width: 768px) {
        #results h3 {
            font-size: 1.75rem;
        }

        #results li {
            font-size: 1.1rem;
        }
    }
