<!-- Модальное окно для входа -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered">
      <div class="modal-content shadow-lg border-0 rounded-3">
          <div class="modal-header">
              <h5 class="modal-title" id="loginModalLabel">Вход в аккаунт</h5>
              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
              <form id="login-form">
                  <div class="mb-4">
                      <label for="login-username" class="form-label">Имя пользователя</label>
                      <input type="text" class="form-control border-primary shadow-sm" id="login-username" name="username" required>
                  </div>
                  <div class="mb-4">
                      <label for="login-password" class="form-label">Пароль</label>
                      <input type="password" class="form-control border-primary shadow-sm" id="login-password" name="password" required>
                  </div>
                  <div class="d-grid gap-2 mb-4">
                      <button type="submit" class="btn btn-primary btn-lg">Войти</button>
                  </div>
              </form>
              <div class="text-center">
                  <p>Нет аккаунта? <a href="{{ url_for('auth.register') }}" class="link-primary">Зарегистрируйтесь здесь</a></p>
              </div>
          </div>
      </div>
  </div>
</div>
