<section class="tour-list mb-5">
    <h2 class="text-center mb-4">Популярные туры</h2>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
            <div class="card">
                <img src="https://s0.rbk.ru/v6_top_pics/media/img/4/37/756650198563374.jpg" class="card-img-top zoom-image" alt="США">
                <div class="card-body">
                    <h5 class="card-title">Тур в США</h5>
                    <p class="card-text">Исследуйте США с нашими эксклюзивными предложениями.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://assets.weforum.org/article/image/responsive_big_0NQECr3DnJfvRwDomIEUswvauuOd-8CrR5A9loomDX8.jpg" class="card-img-top zoom-image" alt="Франция">
                <div class="card-body">
                    <h5 class="card-title">Тур во Францию</h5>
                    <p class="card-text">Погрузитесь в атмосферу романтики и культуры Франции.</p>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="card">
                <img src="https://cdn.culture.ru/images/0d51a12a-18f8-58a4-8e87-34cb662f787e" class="card-img-top zoom-image" alt="Япония">
                <div class="card-body">
                    <h5 class="card-title">Тур в Японию</h5>
                    <p class="card-text">Изучите Японию — сочетание традиций и технологий.</p>
                </div>
            </div>
        </div>
    </div>
</section>
