<h3 class="m-5">Погода</h3>
<div id="weather-info" class="d-flex flex-row justify-content-between gap-5" >
    <div class="card shadow-sm" style="width: 40rem; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title text-center">Текущая погода</h5>
            <div class="d-flex justify-content-center mb-3">
                <!-- Статичная иконка погоды -->
                <img src="https://openweathermap.org/img/wn/01d.png" alt="Weather Icon" width="50" class="me-3">
                <div>
                    <p class="card-text">
                        <strong>Температура:</strong> 25°C
                    </p>
                    <p class="card-text">
                        <strong>Описание:</strong> Ясно
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-sm" style="width: 40rem; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title text-center">Текущая погода</h5>
            <div class="d-flex justify-content-center mb-3">
                <!-- Статичная иконка погоды -->
                <img src="https://openweathermap.org/img/wn/01d.png" alt="Weather Icon" width="50" class="me-3">
                <div>
                    <p class="card-text">
                        <strong>Температура:</strong> 25°C
                    </p>
                    <p class="card-text">
                        <strong>Описание:</strong> Ясно
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="card shadow-sm" style="width: 40rem; margin: 0 auto;">
        <div class="card-body">
            <h5 class="card-title text-center">Текущая погода</h5>
            <div class="d-flex justify-content-center mb-3">
                <!-- Статичная иконка погоды -->
                <img src="https://openweathermap.org/img/wn/01d.png" alt="Weather Icon" width="50" class="me-3">
                <div>
                    <p class="card-text">
                        <strong>Температура:</strong> 25°C
                    </p>
                    <p class="card-text">
                        <strong>Описание:</strong> Ясно
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>

